/* INDEX ==================== */

/* INDEX HERO ==================== */
.index-hero .sc-inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--hero-y-padding);
    grid-gap: var(--spacing-36);
    min-height: calc(100vh - var(--header-height));
}

/* Text */
.index-hero .text-content {
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-12);
}

.index-hero .logo {
    height: clamp(var(--60px), 4.1666666667vw, var(--80px));
}

.index-hero .text-vector {
    height: clamp(var(--60px), 4.1666666667vw, var(--80px));
    position: relative;
    width: fit-content;
}

.index-hero .text-vector img,
.index-hero .logo img {
    height: 100%;
}

.index-hero .text-vector .text-vector {
    position: relative;
    z-index: 5;
}

.index-hero .text-vector .all-text {
    position: absolute;
    top: 0;
    left: 20%;
    height: 100%;
}

/* Slides */
.index-hero .slides {
    width: min(61.875vw, var(--1061px));
    aspect-ratio: 1.3623853211;
}

.index-hero .slides .swiper {
    height: 100%;
}

.index-hero .slides .swiper-slide {
    height: auto;
}

.index-hero .slides .swiper-slide .wrapper {
    height: auto;
    aspect-ratio: 1.5 !important;
}

.index-hero .slides .swiper-slide .slide-background {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
}

.index-hero .slides .swiper-slide .slide-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.5) 100%
        ),
        linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.index-hero .slides .swiper-slide .slide-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index-hero .slides .swiper-slide .slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: var(--spacing-36);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.index-hero .slides .swiper-slide .slide-content .button {
    color: var(--color-white) !important;
    border-color: var(--color-white) !important;
}

html.no-touchevents .index-hero .slide-content .button:hover {
    border-color: var(--color-deep-blue) !important;
}

.index-hero .slides .swiper-slide .slide-content .content {
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-12);
}

.index-hero .slides .swiper-slide .slide-content .slide-nav {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    grid-gap: var(--spacing-6);
    color: var(--color-white);
    right: 5%;
    bottom: 16%;
}

.index-hero .slides .slide-nav *[class*="swiper-button-"] {
    position: static;
    transform: unset;
    rotate: -90deg;
}

html.no-touchevents
    .index-hero
    .slides
    .slide-nav
    *[class*="swiper-button-"]:not(:hover):after {
    background: none;
}

@media (max-width: 835px) {
    .index-hero .sc-inner {
        display: block;
        padding-top: var(--spacing-40);
        padding-bottom: var(--spacing-40);
        min-height: unset;
    }

    /* Text */
    .index-hero .text-content {
        margin-top: var(--spacing-40);
    }

    .index-hero .logo {
        height: min(13.8461538462vw, var(--80px));
    }

    .index-hero .text-vector {
        height: min(13.8461538462vw, var(--80px));
        position: relative;
        width: fit-content;
    }

    /* Slides */
    .index-hero .slides {
        width: 100%;
        aspect-ratio: 0.9370277078;
        height: auto;
    }

    .index-hero .slides .swiper {
        height: 100%;
        overflow: hidden;
    }

    .index-hero .slides .swiper-slide .wrapper {
        aspect-ratio: 1 !important;
    }

    .index-hero .slides .swiper-slide .slide-content {
        padding-left: var(--spacing-16);
        padding-right: var(--spacing-16);
        padding-bottom: var(--spacing-30);
    }

    html.touchevents
        .index-hero
        .slides
        .slide-nav
        *[class*="swiper-button-"]:after {
        background: none;
    }
}

@media (438px < width < 835px) {
    .index-hero .slides {
        aspect-ratio: 0.940277078;
    }
}

/* INDEX DARA ==================== */
.index-dara .sc-inner {
    padding-top: var(--spacing-100);
    padding-bottom: var(--spacing-100);
}

/* INDEX PROGRAMS ==================== */
.index-program .sc-inner {
    position: relative;
}

.index-program .swiper-slide {
    width: 20%;
    height: var(--760px);
    transition: var(--duration-x2) var(--timing-function);
    padding: 0 var(--4px);
}

.index-program .swiper-slide .wrapper {
    padding: var(--spacing-12);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.index-program .swiper-slide .wrapper::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background: var(--background);
    transition: var(--duration-x2) var(--timing-function);
}

.index-program .swiper-slide .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.index-program .swiper-slide .logo {
    position: relative;
    z-index: 10;
}

.index-program .swiper-slide .logo img {
    max-height: 60px;
    max-width: 140px;
}

.index-program *[class*="swiper-button-"] {
    top: calc(50% + var(--title-top-offset));
    opacity: 0 !important;
    pointer-events: none !important;
}

.index-program .swiper-button-prev {
    left: var(--spacing-8);
}

.index-program .swiper-button-next {
    right: var(--spacing-8);
}

.index-program *[class*="swiper-button-"]:after {
    border-color: var(--color-light-sea-green);
    color: var(--color-light-sea-green);
}

html.no-touchevents .index-program *[class*="swiper-button-"]:hover:after {
    border-color: var(--color-light-sea-green);
    background-color: var(--color-light-sea-green);
    color: var(--color-white);
}

@media (min-width: 836px) {
    html.no-touchevents
        .index-program.hovering
        .swiper-slide.swiper-slide-visible {
        width: 19%;
    }

    html.no-touchevents .index-program .swiper-slide:hover {
        width: 24% !important;
    }

    html.no-touchevents .index-program .swiper-slide:hover .wrapper::before {
        opacity: 0.5;
    }

    html.no-touchevents
        .index-program
        .sc-inner:hover
        *[class*="swiper-button-"] {
        opacity: 1 !important;
        pointer-events: all !important;
    }

    html.no-touchevents .index-program .sc-inner:hover .swiper-button-disabled {
        opacity: var(--opacity-light) !important;
        pointer-events: none !important;
    }
}

@media (min-width: 1783px) {
    .index-program .sc-title.offset-xl {
        margin-left: 0;
    }
}

@media (max-width: 835px) {
    .index-program .sc-header {
        padding-left: var(--spacing-20);
    }

    .index-program .swiper {
        overflow: visible !important;
    }

    .index-program .swiper-wrapper {
        flex-direction: column;
        grid-gap: var(--spacing-6);
        transform: none !important;
    }

    .index-program .swiper-slide.swiper-slide-duplicate {
        display: none;
    }

    .index-program .swiper-slide {
        width: 100%;
        height: auto;
        aspect-ratio: 2.6428571429;
        padding: 0;
    }

    .index-program .swiper-slide .wrapper::before {
        opacity: 0.5;
    }

    .index-program *[class*="swiper-button-"] {
        display: none;
    }
}

/* INDEX SC CONNECT CURVE ==================== */
.program-and-banner {
    overflow: hidden;
    position: relative;
}

.program-and-banner .sc-connect-curve {
    top: var(--connect-curve-top);
    left: calc(var(--connect-curve-left) + var(--spacing-container) / 2);
    position: absolute;
    width: calc(var(--spacing-container) / 2 + var(--spacing-80));
}

.program-and-banner .sc-connect-curve svg {
    display: block;
    width: 100%;
    height: var(--connect-curve-height);
}

.program-and-banner .sc-connect-curve .path {
    stroke-dashoffset: 1440.977294921875;
    stroke-dasharray: 1440.977294921875;
}

.program-and-banner .video-banner {
    padding-bottom: 0;
}

@media (min-width: 1783px) {
    .program-and-banner .sc-connect-curve {
        left: calc(var(--connect-curve-left));
        width: var(--spacing-container);
    }

    .program-and-banner .sc-connect-curve .path {
        stroke-dashoffset: 1415.261474609375;
        stroke-dasharray: 1415.261474609375;
    }
}

/* INDEX SPONSER ==================== */
.index-sponser {
    padding: var(--spacing-120) 0;
    overflow: hidden;
}

.index-sponser .sc-inner > .wrapper {
    aspect-ratio: 7.6483516484;
    width: calc(100% + var(--spacing-container));
    margin-left: calc(var(--spacing-container) / -2);
    height: auto;
}
.index-sponser .sc-header {
    position: absolute;
    transform: translateY(-50%);
    left: 6.5%;
    padding: 0;
    z-index: 20;
}

.index-sponser .sc-header h2 {
    background-color: var(--color-white);
    margin: 0 2px;
}

.index-sponser .border-line {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}

.index-sponser .border-line svg {
    display: block;
    height: 100%;
    width: 100%;
}

.index-sponser .border-line .path {
    stroke-dashoffset: 2870.57763671875;
    stroke-dasharray: 2870.57763671875;
}

/* .index-sponser .border-line .path.reverse {
    stroke-dashoffset: 2870.57763671875;
    stroke-dasharray: 2870.57763671875;
} */

.index-sponser .slides {
    width: 100%;
    height: 100%;
    padding: var(--spacing-40) var(--spacing-60);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 50;
}

.index-sponser .slides .swiper-slide {
    width: auto;
    padding: 0 var(--spacing-20);
}

.index-sponser .slides .swiper-slide .image {
    width: min(11.1111111111vw, var(--160px));
}

.index-sponser .slides .swiper-slide .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.index-sponser *[class*="swiper-button-"] {
    opacity: 0 !important;
    pointer-events: none !important;
}

.index-sponser .swiper-button-prev {
    left: var(--spacing-16);
}

.index-sponser .swiper-button-next {
    right: var(--spacing-16);
}

.index-sponser *[class*="swiper-button-"]:after {
    border-color: var(--color-light-sea-green);
    color: var(--color-light-sea-green);
}

html.no-touchevents .index-sponser *[class*="swiper-button-"]:hover:after {
    border-color: var(--color-light-sea-green);
    background-color: var(--color-light-sea-green);
    color: var(--color-white);
}

@media (min-width: 836px) {
    html.no-touchevents
        .index-sponser
        .sc-inner:hover
        *[class*="swiper-button-"] {
        opacity: 1 !important;
        pointer-events: all !important;
    }

    html.no-touchevents .index-sponser .sc-inner:hover .swiper-button-disabled {
        opacity: var(--opacity-light) !important;
        pointer-events: none !important;
    }
}

@media (max-width: 835px) {
    .index-sponser {
        padding: var(--spacing-72) 0;
    }

    .index-sponser .sc-inner {
        padding: 0;
    }

    .index-sponser .sc-inner > .wrapper {
        aspect-ratio: unset;
        width: 100%;
        margin-left: 0;
    }

    .index-sponser .sc-header {
        position: static;
        transform: unset;
        padding-left: calc(var(--spacing-container) * 2);
    }

    .index-sponser .slides {
        padding: var(--spacing-30) 0;
    }

    .index-sponser .border-wrapper {
        width: 100vw;
        overflow: hidden;
    }

    .index-sponser .slides .swiper-slide {
        padding: 0 var(--spacing-10);
    }

    .index-sponser .slides .swiper-slide .image {
        width: min(29.2307692308vw, var(--120px));
    }
}
