/*MEDIA QUERIES:MIN====================*/
@media (min-width: 391px) {
    .hidden-device-2xs {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .hidden-device-xs {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .hidden-device-sm {
        display: none !important;
    }
}

@media (min-width: 836px) {
    :root {
        --spacing-container: min(3.3333333333vw, var(--48px));
        --logo-height: min(3.05555555556vw, var(--44px));
    }

    .hidden-device-md {
        display: none !important;
    }
}

@media (min-width: 1280px) {
    .hidden-device-lg {
        display: none !important;
    }
}

@media (min-width: 1440px) {
    :root {
        --font-size-h1: var(--72px);
        --font-size-h3: var(--32px);
        --font-size-h4: var(--20px);

        --line-height-h3: 1.4375;
        --line-height-h4: 1.4166666667;
    }

    .hidden-device-xl {
        display: none !important;
    }
}
@media (min-width: 1783px) {
    .hidden-device-2xl {
        display: none !important;
    }
}

/*MEDIA QUERIES:MAX====================*/
@media (max-width: 1782px) {
    .show-2xl {
        display: none !important;
    }
}

@media (max-width: 1439px) {
    .show-xl {
        display: none !important;
    }
}

@media (max-width: 1279px) {
    .show-lg {
        display: none !important;
    }
}

@media (max-width: 835px) {
    .show-md {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .show-sm {
        display: none !important;
    }
}

@media (max-width: 575px) {
    .show-xs {
        display: none !important;
    }
}

@media (max-width: 390px) {
    .show-2xs {
        display: none !important;
    }
}
